<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.Support" version="1.0.0" targetFramework="monoandroid60" />
  <package id="Acr.UserDialogs" version="4.1.3" targetFramework="monoandroid81" />
  <package id="AndHUD" version="1.4.1" targetFramework="monoandroid81" />
  <package id="CardsView" version="1.4.1" targetFramework="monoandroid81" />
  <package id="FastAndroidCamera" version="2.0.0" targetFramework="monoandroid80" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="monoandroid81" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="monoandroid70" />
  <package id="PCLStorage" version="1.0.2" targetFramework="monoandroid81" />
  <package id="Plugin.BLE" version="1.2.1" targetFramework="monoandroid60" />
  <package id="Plugin.CurrentActivity" version="1.0.1" targetFramework="MonoAndroid60" />
  <package id="Plugin.Multilingual" version="1.0.2" targetFramework="monoandroid81" />
  <package id="Plugin.Permissions" version="2.0.1" targetFramework="monoandroid70" />
  <package id="Rg.Plugins.Popup" version="1.1.5.180" targetFramework="monoandroid81" />
  <package id="Splat" version="1.6.2" targetFramework="MonoAndroid60" />
  <package id="Syncfusion.Licensing" version="17.1.0.40" targetFramework="monoandroid81" />
  <package id="Syncfusion.Xamarin.Core" version="16.1.0.37" targetFramework="monoandroid81" />
  <package id="Syncfusion.Xamarin.DataSource" version="16.1.0.37" targetFramework="monoandroid81" />
  <package id="Syncfusion.Xamarin.GridCommon" version="16.1.0.37" targetFramework="monoandroid81" />
  <package id="Syncfusion.Xamarin.SfListView" version="16.1.0.37" targetFramework="monoandroid81" />
  <package id="Syncfusion.Xamarin.SfPullToRefresh" version="16.1.0.37" targetFramework="monoandroid81" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="monoandroid90" />
  <package id="Xam.Plugin.Geolocator" version="4.0.1" targetFramework="monoandroid70" />
  <package id="Xam.Plugin.Media" version="3.0.1" targetFramework="monoandroid80" />
  <package id="Xam.Plugins.Messaging" version="3.2.1" targetFramework="monoandroid60" />
  <package id="Xam.Plugins.Settings" version="3.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Arch.Core.Common" version="1.1.1.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Arch.Core.Runtime" version="1.1.1.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Arch.Lifecycle.Common" version="1.1.1.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Arch.Lifecycle.LiveData" version="1.1.1.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Arch.Lifecycle.LiveData.Core" version="1.1.1.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Arch.Lifecycle.Runtime" version="1.1.1.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Arch.Lifecycle.ViewModel" version="1.1.1.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Annotations" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.AsyncLayoutInflater" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Collections" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Compat" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.CoordinaterLayout" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Core.UI" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Core.Utils" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.CursorAdapter" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.CustomTabs" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.CustomView" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Design" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.DocumentFile" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.DrawerLayout" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Fragment" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Interpolator" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Loader" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.LocalBroadcastManager" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Media.Compat" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Print" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.SlidingPaneLayout" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.SwipeRefreshLayout" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Transition" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.v4" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.v7.CardView" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.v7.Palette" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.VersionedParcelable" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.ViewPager" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Build.Download" version="0.4.11" targetFramework="monoandroid90" />
  <package id="Xamarin.Essentials" version="1.3.0" targetFramework="monoandroid90" />
  <package id="Xamarin.FFImageLoading" version="2.1.5" targetFramework="monoandroid60" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.1.5" targetFramework="monoandroid60" />
  <package id="Xamarin.FFImageLoading.Transformations" version="2.1.5" targetFramework="monoandroid60" />
  <package id="Xamarin.Firebase.Common" version="71.1610.0" targetFramework="monoandroid90" />
  <package id="Xamarin.Firebase.Iid" version="71.1710.0" targetFramework="monoandroid90" />
  <package id="Xamarin.Firebase.Iid.Interop" version="71.1601.0" targetFramework="monoandroid90" />
  <package id="Xamarin.Firebase.Measurement.Connector" version="71.1701.0" targetFramework="monoandroid90" />
  <package id="Xamarin.Firebase.Messaging" version="71.1740.0" targetFramework="monoandroid90" />
  <package id="Xamarin.Forms" version="3.4.0.1008975" targetFramework="monoandroid81" />
  <package id="Xamarin.Forms.Maps" version="2.5.0.122203" targetFramework="monoandroid80" />
  <package id="Xamarin.Google.AutoValue.Annotations" version="1.6.5" targetFramework="monoandroid90" />
  <package id="Xamarin.GooglePlayServices.Base" version="71.1610.0" targetFramework="monoandroid90" />
  <package id="Xamarin.GooglePlayServices.Basement" version="71.1620.0" targetFramework="monoandroid90" />
  <package id="Xamarin.GooglePlayServices.Location" version="71.1600.0" targetFramework="monoandroid90" />
  <package id="Xamarin.GooglePlayServices.Maps" version="71.1600.0" targetFramework="monoandroid90" />
  <package id="Xamarin.GooglePlayServices.Places.PlaceReport" version="71.1600.0" targetFramework="monoandroid90" />
  <package id="Xamarin.GooglePlayServices.Stats" version="71.1601.0" targetFramework="monoandroid90" />
  <package id="Xamarin.GooglePlayServices.Tasks" version="71.1601.0" targetFramework="monoandroid90" />
  <package id="ZXing.Net.Mobile" version="2.3.2" targetFramework="monoandroid80" />
  <package id="ZXing.Net.Mobile.Forms" version="2.3.2" targetFramework="monoandroid80" />
</packages>